# Allow insecure certificate while connecting Keycloak
# Set this if Keycloak has not a trusted certificate. Dont set this on prod
ALLOW_UNSECURE_CERT=1

# Secret for API
# Update this value for your deployment
API_SECRET=c135632bf9d65a2ed9f81daa78e21ebc430e7a90

# Timeout for API session
API_TIMEOUT=86400

# Postgresql host address
DB_HOST=galaxy-db

# Postgresql password
# Update this value for your deployment
DB_PASSWD=1f8b3234228ac120bffd0cc1640deb14334a7455

# FQDN for this setup
GALAXY_FQDN=app.galaxy-kc.loc

# Keycloak client ID
KEYCLOAK_CLIENT_ID=galaxy

# Keycloak address
KEYCLOAK_ORIGIN=https://ucs-sso-ng.mydomain.corp

# Keycloak realm
KEYCLOAK_REALM=ucs

# Mailer settings
# See https://nodemailer.com/smtp for details
MAILER_HOST=mail.mydomain.corp
MAILER_PORT=465
MAILER_SECURE=true
MAILER_USER=username
MAILER_PASS=password
MAILER_FROM=support@mydomain.corp
